/* css reset */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* parts recommend form the MDN articles  */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

input,
textarea,
select,
button {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* end of the reset */

header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6fr auto 1fr;
}

.image-header {
  grid-column: 1/2;
  grid-row: 1/2;
  /* Position relative to make the position absolute of the background to fit in the image-header div */
  position: relative; 
  padding: 10%;
}

.image-background {
  position: absolute;
  /* occupies all the space of the parent */
  inset: 0;
  background-color: #088dad;
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 100%);
  z-index: 0;
}

.image-about-me {
  position: relative;
  z-index: 1;
}

.image-header-text {
  position: absolute;
  bottom: 29px;
  z-index: 2;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 45px;
  color: 303030;
  font-weight: bolder;
}

.text-header {
  grid-column: 1/2;
  grid-row: 2/3;
  text-align: center;
}

.tablet-image-about-me {
  display: none;
}

.text-title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

.text-dummyText {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
}
 
.links-header {
  grid-column: 1/2;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr;
  padding: 10px;
}

.header-img-1 {
  grid-column: 1/2;
  width: 45px;
  height: 45px;
  align-self: end;
  justify-self: end;
}

.header-img-2 {
  grid-column: 2/3;
  width: 45px;
  height: 45px;
  align-self: end;
  justify-self: center;
}

.header-img-3 {
  grid-column: 3/4;
  width: 45px;
  height: 45px;
  align-self: end;
  justify-self: start;
}

main {
  margin-top: 100px;
}

.main-heading {
  align-self: center;
  justify-self: center;
}

.all-section { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  grid-gap: 20px;
  margin: 20px;
}

.grid-section {
  background-color: white;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: 3fr 1fr 1.5fr;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.image-section { 
  grid-column: 1/4;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  padding: 60px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.project-section {
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: 1.5rem;
  font-family: 'Times New Roman', Times, serif;
  padding-left: 15px;
  display: flex;
  align-items: center;
}

.imgSection-1 {
  grid-column: 2/3;
  grid-row: 2/3;
  max-width: 25px;
  align-self: center;
  justify-self: end;
}

.imgSection-2 {
  grid-column: 3/4;
  grid-row: 2/3;
  max-width: 29px;
  align-self: center;
  padding-left: 5px;
} 

.description-section {
  grid-column: 1/4;
  grid-row: 3/4;
  padding: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #4f4e4e;
}

.section-1 > .image-section {
  background-color: #7c75ca;
}

.section-2 > .image-section {
  background-color: #d88f39;
}

.section-3 > .image-section {
  background-color: #5e8f4d;
}

.section-4 > .image-section {
  background-color: #ca7599;
}

.section-5 > .image-section {
  background-color: #4792d9;
}

.section-6 > .image-section {
  background-color: #5e8f4d;
}

.footer-section {
  margin-top: 200px;
  background-color: #088dad;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(7, auto);
}

.headline-footer {
  grid-column: 1/4;
  grid-row: 1/2;
  padding: 10px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  justify-self: center;
}

.subtext {
  grid-column: 1/4;
  grid-row: 2/3;
  padding: 10px;
  font-size: 1.5rem;
  color: white;
  justify-self: center;
  align-self: center;
}

.text-footer {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-left: 10px;
}

.text-1 {
  grid-column: 1/4;
  grid-row: 3/4;
  padding-top: 5px;
}

.text-2 {
  grid-column: 1/4;
  grid-row: 4/5;
}

.text-3 {
  grid-column: 1/4;
  grid-row: 5/6;
  padding-top: 20px;
}

.footer-tablet-img-1 {
  display: none;
}

.text-4 {
  grid-column: 1/4;
  grid-row: 6/7;
  padding-bottom: 20px;
}

.footer-tablet-img-2 {
  display: none;
}

.footer-img-1 {
  grid-column: 1/2;
  grid-row: 7/8;
  justify-self: end;
  width: 45px;
  height: 45px;
}

.footer-img-2 {
  grid-column: 2/3;
  grid-row: 7/8;
  width: 45px;
  height: 45px;
  justify-self: center;
}

.footer-img-3 {
  grid-column: 3/4;
  grid-row: 7/8;
  width: 45px;
  height: 45px;

}

.footer-img-4 {
  grid-column: 1/4;
  padding-top: 80px;
} 






@media (500px <= width <= 1000px) {
  header {
    display: grid;
    grid-template-rows: 1fr;
  }

  .image-header {
    grid-row: 1/2;
    padding: 5%;
    height: 450px;
  }

  .image-about-me {
    display: none;
  }

  .image-header-text {
    font-size: 3rem;
    top: 45px;
    right: 100px;
    color: white;
     text-shadow: 0px 1px 3px black;
  }


  .text-header {
    position: relative;
    background-color: white;
    box-shadow: 0px 6px 8px rgba(0,0,0,0.2);
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    bottom: 450px;
    margin-bottom: -450px;
  }


  .tablet-image-about-me {
    display: block;
    width: 50%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    float: left;
    position: relative;
    box-shadow: 0px 6px 8px rgba(0,0,0,0.2);
    top: -130px;
    right: 50px;
    margin-bottom: -130px;
    margin-right: -45px;
  }

  .text-title {
    font-size: 2.1rem;
    word-break: normal;
    overflow-wrap: normal;
    white-space: normal;
  }

  .text-dummyText {
    font-size: 1.1rem;
  }

  .links-header {
    display: none;
  }

  main {
    margin-top: 50px;
  }

  .main-heading {
    justify-self: start;
    margin-left: 50px;
  }

  .all-section {
    margin-top: 0;
    margin-right: 50px;
    margin-left: 50px;
    grid-gap: 50px;
  }

  .image-section {
    font-size: 2rem;
    display: flex;
  }

  .section-1 > .image-section {
    background-color: #9e1c1c;
  }

  .section-2 > .image-section {
    background-color: #7c75ca;
  }

  .section-3 > .image-section {
    background-color: #c363b4;
  }

  .section-4 > .image-section {
    background-color: #d88f39;
  }

  .section-5 > .image-section {
    background-color: #7c75ca;
  }

  .section-6 > .image-section {
    background-color: #5e8f4d;
  }

  .footer-section {
    display: grid;
    grid-template-columns: 0.4fr 0.6fr 1fr 1fr 2fr 5fr;
    grid-template-rows: 1fr 1fr 0.5fr 0.5fr 1fr 0.3fr 1fr;
    padding: 40px;
  }

  .headline-footer {
    grid-column: 1/6;
    grid-row: 1/2;
    justify-self: start;
    align-content: end;
    padding: 0;
  }

  .subtext {
    grid-column: 1/6;
    grid-row: 2/3;
    padding: 0;
    font-size: 1.2rem;
    align-self: start;
  }

  .text-1 {
    grid-column: 1/6;
    grid-row: 3/4;
    padding: 0;
    align-self: end;
  }

  .text-2 {
    grid-column: 1/6;
    grid-row: 4/5;
    padding: 0;
  }

  .footer-tablet-img-1 {
    display: block;
    grid-column: 1/2;
    grid-row: 5/6;
    width: 35px;
    height: 35px;
    align-self: end;
  }

  .text-3 {
    grid-column: 2/6;
    grid-row: 5/6;
    align-self: end;
    padding: 0;
    padding-left: 7px;
  }

  .footer-tablet-img-2 {
    display: block;
    grid-column: 1/2;
    grid-row: 6/7;
    align-self: end;
  }

  .text-4 {
    grid-column: 2/6;
    grid-row: 6/7;
    padding: 0;
    align-self: end;
    padding-left: 7px;
  }

  .footer-img-1 {
    grid-column: 1/3;
    grid-row: 7/8;
    align-self: end;
    justify-self: start;
    width: 35px;
    height: 35px;
  }

  .footer-img-2 {
    grid-column: 3/4;
    grid-row: 7/8;
    align-self: end;
    justify-self: start;
    width: 35px;
    height: 35px;
  }

  .footer-img-3 {
    grid-column: 4/5;
    grid-row: 7/8;
    align-self: end;
    width: 35px;
    height: 35px;
  }

  .footer-img-4 {
    grid-column: 6/7;
    grid-row: 1/8;
    align-self: center;
    padding: 0;
  }
}



/* EN QUE ME QUEDE: Hacer la parte para laptops*/ 






/*
@media (width > 1000px) {
  body {
    background-color: lightgray;
  }
} */
