/* css reset */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* parts recommend form the MDN articles  */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

input,
textarea,
select,
button {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* end of the reset */

header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6fr auto 1fr;
}

.image-header {
  grid-column: 1/2;
  grid-row: 1/2;
  /* Position relative to make the position absolute of the background to fit in the image-header div */
  position: relative; 
  padding: 10%;
}

.image-background {
  position: absolute;
  /* occupies all the space of the parent */
  inset: 0;
  background-color: #088dad;
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 100%);
  z-index: 0;
}

.image-about-me {
  position: relative;
  z-index: 1;
}

.image-header-text {
  position: absolute;
  bottom: 29px;
  z-index: 2;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 45px;
  color: 303030;
  font-weight: bolder;
}

.text-header {
  background-color: yellow;
  grid-column: 1/2;
  grid-row: 2/3;
  text-align: center;
}

.text-title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

.text-dummyText {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
}
 
.links-header {
  grid-column: 1/2;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr;
  padding: 10px;
}

.img-1 {
  grid-column: 1/2;
  width: 45px;
  height: 45px;
  align-self: end;
  justify-self: end;
}

.img-2 {
  grid-column: 2/3;
  width: 45px;
  height: 45px;
  align-self: end;
  justify-self: center;
}

.img-3 {
  grid-column: 3/4;
  width: 45px;
  height: 45px;
  align-self: end;
  justify-self: start;
}

 
/* EN QUE ME QUEDE:  completar la parte de los logos


/* @media (500px <= width <= 1000px) {
  body {
    background-color: yellow;
  }
}

@media (width > 1000px) {
  body {
    background-color: lightgray;
  }
} */
